Win64OpenSSL-3_0_1.msi
VC_redist.x64.exe
511.23-notebook-win10-win11-64bit-international-dch-whql.exe
cuda_11.2.0_460.89_win10.exe
cudnn-11.2-windows-x64-v8.1.0.77.zip
Anaconda3-2021.05-Windows-x86_64.exe
